@model Planner.Models.ApplicationUser


<link rel="stylesheet" href="~/Content/Style/apt.css"/>
<br />
<br />

<div class="panel panel-warning">
    <div class="panel-heading">
        <h2>Detalii utilizator</h2>
    </div>
    <div class="panel-body">
        @Html.LabelFor(u => u.Email, "Email:")
        <br />
        @Html.DisplayFor(u => u.Email)
        <br />
        <br />

        @Html.LabelFor(u => u.UserName, "Username:")
        <br />
        @Html.DisplayFor(u => u.UserName)
        <br />
        <br />

        <label>Role:</label>
        <p>@ViewBag.UserRole</p>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "Index", controllerName: "Users", method: FormMethod.Get))
        {
            <button class="btn btn-info" type="submit"><i class="fa fa-home"></i> &nbsp; Home</button>
        }
    </div>
</div>


