@model Planner.Models.ViewModels.ShoppingListViewModel

<br />
<br />


    @Html.HiddenFor(b => b.ShoppingListId)
    @Html.HiddenFor(b => b.Titlu)
    <p>@Model.Titlu</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Denumire</th>
            <th scope="col">Cantitate</th>
            <th scope="col">Adauga</th>
            <th scope="col">Detalii</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ShoppingProducts)
        {
            <tr>
                <td>@product.Denumire</td>
                <td>@product.Cantitate</td>
                <td>
                    @using (Html.BeginForm(actionName: "AddProduct", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { idLista = Model.ShoppingListId, idProdus = product.ProductId }))
                    {

                        <button class="btn btn-primary" type="submit">Adauga</button>
                    }
                </td>
                <td>
                    @using (Html.BeginForm(actionName: "DetaliiProdus", controllerName: "Products", method: FormMethod.Get, routeValues: new { id = product.ProductId }))
                    {

                        <button class="btn btn-primary" type="submit">Detalii</button>
                    }
                </td>
            </tr>

        }
    </tbody>
</table>
    



