@model Planner.Models.ShoppingList


<link rel="stylesheet" href="~/Content/Style/lista.css" />
<br />
<br />
<div class="panel panel-info">
    <div class="panel-heading">@Model.Titlu</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Denumire</th>
                        <th scope="col">Cantitate</th>
                        <th scope="col">Descriere</th>
                        <th scope="col">Necesitate</th>
                        <th scope="col">Sterge produs</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Products.Count > 0)
                    {
                        foreach (var item in Model.Products)
                        {
                            <tr>
                                <td>@item.Denumire</td>
                                <td>@item.Cantitate</td>
                                <td>@item.Descriere</td>
                                <td>@item.Necesitate</td>
                                <td>
                                    @using (Html.BeginForm(actionName: "DeleteProductFromList", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { idLista = Model.ShoppingListId, idProdus = item.ProductId }))
                                    {
                                        <button class="btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Cumparat</button>
                                    }
                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
        </div>
    </div>
    <div class="panel-footer">
        @using (Html.BeginForm(actionName: "DeleteList", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { id = Model.ShoppingListId }))
        {
            <button class="btn btn-danger" type="submit"><i class="fa fa-check" aria-hidden="true"></i> &nbsp; Delete lista</button>
        }
        <br />
        @using (Html.BeginForm(actionName: "EditList", controllerName: "ShoppingList", method: FormMethod.Post, routeValues: new { id = Model.ShoppingListId }))
        {
            <button class="btn btn-warning" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp; Editeaza lista</button>
        }
    </div>
</div>

@using (Html.BeginForm(actionName: "Index", controllerName: "ShoppingList", method: FormMethod.Get))
{
    <button class="btn btn-info" type="submit"><i class="fa fa-home" aria-hidden="true"></i> &nbsp; Toate listele</button>
}
