@model Planner.Models.Invoice


@using (Html.BeginForm(actionName: "CreateInvoice", controllerName: "Invoices", method: FormMethod.Post))
{
    @Html.Label("TipFactura", "Tip Factura: ")
    <br />
    @Html.TextBoxFor(b => b.TipFactura, null, new { placeholder = "Tip factura", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.TipFactura, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("DataEmitere", "Data Emitere:")
    <br />
    @Html.EditorFor(b => b.DataEmitere, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.DataEmitere, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("DataScadenta", "Data Scadenta:")
    <br />
    @Html.EditorFor(b => b.DataScadenta, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(b => b.DataScadenta, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("TotalPlata", "Total plata:")
    <br />
    @Html.TextBoxFor(b => b.TotalPlata, null, new { placeholder = "Suma", @class = "form-control" })
    @Html.ValidationMessageFor(b => b.TotalPlata, "", new { @class = "text-danger" })
    <br />
    <br />
    @Html.Label("Status", "Status")
    @Html.EnumDropDownListFor(b => b.Status, htmlAttributes: new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" type="submit">Adauga Factura</button>
}

