@model Planner.Models.DailyTask
<link rel="stylesheet" href="~/Content/Style/apt.css" />

<br />
<br />

@using (Html.BeginForm(actionName: "Update", controllerName: "DailyTasks", method: FormMethod.Post, routeValues: new { id = Model.DailyTaskId }))
{
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3>Editeaza task</h3>
        </div>
        <div class="panel-body">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                @Html.HiddenFor(b => b.DailyTaskId)
                @Html.Label("TitluTask", "Titlu task: ")
                <br />
                @Html.EditorFor(b => b.TitluTask, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(b => b.TitluTask, "", new { @class = "text-danger" })
                <br />
                <br />
                @Html.Label("Prioritate", "Prioritate:")
                <br />
                @Html.EnumDropDownListFor(b => b.Prioritate, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(b => b.Prioritate, "", new { @class = "text-danger" })
                <br />
                <br />
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                @Html.Label("Deadline", "Deadline:")
                <br />
                @Html.EditorFor(b => b.Deadline, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(b => b.Deadline, "", new { @class = "text-danger" })
                <br />
                <br />
                @Html.Label("Detalii", "Detalii:")
                <br />
                @Html.EditorFor(b => b.Detalii, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(b => b.Detalii, "", new { @class = "text-danger" })
                <br />
            </div>
        </div>
        <div class="panel-footer">
            <button class="btn btn-primary" type="submit"><i class="fa fa-pencil" aria-hidden="true"></i> &nbsp;Update task</button>
        </div>
    </div>
    
    
    
}